// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.mt-4 {
    margin-top: 1rem
}
.mb-4 {
    margin-bottom: 1rem
}
.flex {
    display: flex
}
.flex-col {
    flex-direction: column
}
.p-4 {
    padding: 1rem
}
.px-2 {
    padding-left: .75rem;
    padding-right: .75rem;
    padding-bottom: .75rem;
}
.font-bold {
    font-weight: 700
}

ul {
    list-style-type: none;
    align-items: baseline;
}